<form [formGroup]="form" class="grid grid-cols-1 mt-5">

    <mat-form-field class="mat-badge-medium col-span-2">
        <mat-label>Titulo:</mat-label>
        <input matInput value="" formControlName="titulo">
        <mat-error> <ng-validation-messages></ng-validation-messages> </mat-error>
    </mat-form-field>

    <mat-form-field class="mat-badge-medium col-span-2">
        <mat-label>Publicadora:</mat-label>
        <input matInput value="" formControlName="publicadora">
        <mat-error> <ng-validation-messages></ng-validation-messages> </mat-error>
    </mat-form-field>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 w-full self-center">

        <mat-form-field class="mat-badge-medium col-span-2 md:col-span-1">
            <mat-label>Estudio:</mat-label>
            <input matInput value="" type="text" formControlName="estudio">
            <mat-error> <ng-validation-messages></ng-validation-messages> </mat-error>
        </mat-form-field>
    </div>

    <mat-form-field class="mat-badge-medium col-span-2">
        <mat-label>Observações:</mat-label>
        <textarea #description name="" id="" cols="30" rows="4" matInput value="" formControlName="description" class="misc"></textarea>
        <mat-hint align="end">{{description.value.length}} / 2500</mat-hint>
        <mat-error> <ng-validation-messages></ng-validation-messages> </mat-error>
    </mat-form-field>
</form>


