


<mat-card role="button" class="my-3 drop-shadow cursor-pointer hover:drop-shadow-md" [routerLink]="['./detail']" [state]="{data:jogo}">

  <mat-card-content>
    <div class="flex flex-row gap-3">

      <!--<div class="flex items-center">
        <div class="rounded-full w-12 h-12 bg-center" style="background-image: url(assets/imgs/user_1.png)"></div>
      </div>-->

      <div class="flex flex-col sm:flex-row flex-wrap grow gap-2">
        <div class="flex flex-col grow gap-2">
          <div class="font-medium"> {{jogo.titulo}} </div>
          <div> {{jogo.publicadora}} </div>
        </div>
        <div class="flex sm:flex-col flex-wrap gap-2">
          <div class="flex items-center text-amber-500 px-1">
            <mat-icon class="flex-none label text-lg/[22px]">label</mat-icon>
            <div class="flex-1 text-amber-600 text-sm font-medium">Estúdio</div>
          </div>
          <div class="text-sm"> {{jogo.estudio}} </div>
        </div>
      </div>

    </div>
  </mat-card-content>

</mat-card>
